body.bg-img {
    background: linear-gradient(to right, #83a4d4, #b6fbff);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}
